html, body {
  margin: 0;
  padding: 0;
  background-color: wheat;
}

canvas {
  position: absolute;
  display: block;
  margin-left: 400px;
  margin-top: 60px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.msgbox {
  display: block;
  width: 250px;
  height: 500px;
  background-color: rgba(253, 253, 253, 0.849);
  border-radius: 15px;
  position:absolute;
  top: 60px;
  left:900px;
  margin-left: 10px;
}

.drawtoolbox {
  display: block;
  width: 500px;
  height: 100px;
  background-color: rgba(253, 253, 253, 0.849);
  border-radius: 15px;
  position:absolute;
  top: 570px;
  left:400px;
}

#countdown {
  position: absolute;
  top: 5px;
  left: 417px;
}

button {
  text-align: center;
  position: absolute;
}

#Red {
  background-color: rgba(255, 0, 0, 0.849);
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: none;
}
#Orange {
  background-color: rgb(252, 134, 0);
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: none;
}
#Yellow {
  background-color: rgb(255, 238, 0);
  width: 50px;
  height:50px;
  border-radius: 15px;
  border: none;
}

#Green {
  background-color: rgba(0, 255, 13, 0.849);
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: none;
}

#Blue {
  background-color: rgba(0, 4, 255, 0.849);
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: none;
}

#Violet {
  background-color: rgb(204, 0, 255);
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: none;
}

#White {
  background-color: rgba(255, 255, 255, 0.849);
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: none;
}

#Black {
  background-color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: none;
}

#Clear {
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: none;
}

#circle {
  height: 50px;
  width: 50px;
  background-color: rgb(247, 244, 244);
  stroke-width: 2px;
  border-radius: 50%;
  position: absolute;
  top:20px;
  left: 400px;
}


